---
import Burgermenu from "../components/Burgermenu.astro";
import Footer from "../components/Footer.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <Burgermenu />
    <h1>Tak for dit bidrag!</h1>
    <div class="lottie_heart">
      <dotlottie-player src="https://lottie.host/c4a5464c-8be8-4ffb-abef-5a249f90508f/arBwTi2g1F.json" 
      background="transparent" 
      speed="1" 
      style="width: 300px; height: 300px;" 
      loop autoplay></dotlottie-player>
    </div>

    <h4>Din støtte gør en afgørende forskel for vores fælles mål om at skabe en mere bæredygtig og plastikfri fremtid.</h4>

    <Footer />
  </body>
</html>

<style>
  body {
    margin: 0;
    background-image: linear-gradient(
      #1c77e0,
      #5b68d8,
      #498aa3,
      #304ca8,
      #3740a4
    );
  }

  h1{
    font-size: 120px;
    font-family: "campton-bold";
    color: #FFFFFF;
    padding: 50px 10px 50px 10px;
    text-align: center;
    margin: 0;
  }

  h4{
    font-size: 30px;
    font-family: "campton-bold";
    color: #FFFFFF;
    gap: 10px;
    padding: 10px 10px 10px 10px;
    margin-left: 25%;
    margin-right: 25%;
  }

  .lottie_heart{
    padding-left: 39%;
    width: 250px;
  }

  @media (max-width: 1024px) {

h1{
  font-size: 90px;
  padding-top: 145px;
}

h4{
  margin-left: 17%;
  margin-right: 17%;
  padding-bottom: 150px;
  padding-top: 39px;
}

.lottie_heart{
padding-left: 35%;
width: 250px;
}
}

  @media (max-width: 820px) {
    h1 {
      font-size: 40px;
    }

    h4{
        font-size: 20px;
        margin-left: 5%;
        margin-right: 5%;
    }

    .lottie_heart{
        padding-left: 10%;
    }
  }
  

</style>

<script src="https://unpkg.com/@dotlottie/player-component@latest/dist/dotlottie-player.mjs" type="module"></script> 

