---
import Header from "../components/Header.astro";
import Hero2 from "../components/Hero2.astro";
import Footer from "../components/Footer.astro";
import DinStotteGorTil from "../components/Din_stotte_gor_til.astro";
import RullendeBanner from "../components/Rullende_banner.astro";
import Timeline from "../components/Timeline.astro";
import Formular2 from "../components/Formular2.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <Header />
    <Hero2 />
    <div class="formular2">
    <Formular2 />
  </div>
    <DinStotteGorTil />
    <RullendeBanner />
    <Timeline />
    <Footer />
  </body>
</html>

<style>
  body {
    margin: 0;

    /* Jeg ved ikke om det er den rigtige gradient jeg har sat ind- i forhold til farverne */
    background-image: linear-gradient(
      #1c77e0,
      #5b68d8,
      #498aa3,
      #304ca8,
      #3740a4
    );
  }

  .formular2 {
    display: flex;
    justify-content: center;
  }
</style>
