<div class="section2">
  <h4>Vær med til at stoppe plastik forurening</h4>
  <div class="button1">
    <a href="#" class="støt_knap">Se hvad du kan gøre her</a>
  </div>
</div>

<style>
  .støt_knap {
    padding: 10px 10px 10px 10px;
    background-color: #ff1054;
    margin-top: 10px;
    width: 20%;
    font-family: "campton-bold";
    color: white;
    font-size: 12px;
    display: inline-block;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    border-radius: 20px;
  }

  .section2 {
    padding: 30px 150px 20px 150px;
  }

  støt_knap:hover {
    background-color: #ffffff;
    color: #ff1054;
  }

  .button1 {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  h4 {
    font-family: "campton-bold";
    font-size: 30px;
    color: #ffffff;
    text-align: center;
    margin: 0;
  }
</style>
