---
import NaturenHavet from "./Naturen_havet.astro";
import Klimaaftryk from "./Klimaaftryk.astro";
import Jordensressourcer from "./Jordens_ressourcer.astro";
import Skadeligkemi from "./Skadelig_kemi.astro";
import Buttonstot from "./Button_stot.astro";
---

<div>
  <h2>Din støtte går blandt andet til at:</h2>
  <div class="grid">
    <NaturenHavet />
    <Klimaaftryk />
    <Jordensressourcer />
    <Skadeligkemi />
    <Buttonstot />
  </div>
</div>

<style>
  .grid {
    overflow: hidden;

  }

  h2 {
    color: white;
    font-size: 64px;
    z-index: 1; /* Sørg for, at teksten er over billedet */
    font-family: "campton-bold";
    text-align: center;
    padding: 80px 0px 30px 0px;
  }

  @media (max-width: 820px) {
    h2 {
      font-size: 35px;
      padding-left: 10px;
      padding-bottom: 20px;
    }

    .grid {
    overflow: hidden;
  }
  }

  @media (max-width: 1024px) {
    h2{
      padding-top: 40px;
      padding-bottom: 30px;
    }
  }

 
</style>
