
<div class="flip-card">
    <div class="flip-card-inner">
      <div class="flip-card-back">
        <div class="inside">
          <div class="lottie">
            <dotlottie-player
            src="https://lottie.host/82f8b59d-3764-440a-9097-eec74a76903e/M9hEjBscje.json"
            background="transparent"
            speed="1"
            style="width: 3500px; height: 250px;"
            position:relative;
            loop
            autoplay></dotlottie-player>
          </div>
       <div class="p"><p>Selv verdens højeste bjerg, Mount Everest, er ikke fri for plastikforurening. Der er rapporter om, at selv på toppen af Everest kan man finde spor af plastikaffald, der er blevet efterladt af bjergbestigere.</p></div> 
      </div>
      </div>
      <div class="flip-card-front">
        <h1>3.</h1>
        
      </div>
    </div>
  </div>
  <style>

    /* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
  background-color: transparent;
  width: 490px;
  height: 390px;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
 
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background: linear-gradient(to bottom, #0E1E90, #5968d978); 
  color: black;
  align-content: center;
  display: grid;

}

/* Style the back side */
.flip-card-back {
  background: linear-gradient(to bottom, #0E1E90, #5968d978); 
  color: black;
  transform: rotateY(180deg);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

h1 {
font-size: 120px;
color: #FF1054;
font-family: "campton-bold";
}

.p {
  text-align: left;
  font-family: "campton";
  color: white;
  
}
.inside {
margin: 20px;
display: flex;
flex-direction: column;
align-items: center;
}

  </style>


<script src="https://unpkg.com/@dotlottie/player-component@latest/dist/dotlottie-player.mjs" type="module"></script> 
