<div class="footer">
    <div class="kontakt">
        <img class="logo_footer"src="./images/logo.webp" alt="logo_footer">
        <div class="p1">
        <p>Mail. info@plasticchange.org</p>
        </div> 
            <p>Tlf. +45 42 66 72 46</p>
    </div>

    <div class="støt">
        <h3>Støt os</h3>
        <div class="buttons_footer">
        <div class="button1">
            <a href="#" class="støt_knap">Støt</a>
        </div>  
        </div>
    </div>

    <div class="sociale_medier">
        <h3>Sociale medier</h3>
          <div class="footer_icons">
            <a href="https://www.instagram.com/plasticchange/">
            <img class="insta" src="./images/insta_icon.png" alt="insta_logo">
            </a>
            <a href="https://twitter.com/plasticchange">
            <img class="twitter" src="./images/twitter_icon.png" alt="twitter logo">
            </a>
            <a href="https://www.facebook.com/plasticchange/">
            <img class="facebook" src="./images/facebook_icon.png" alt="facebook logo">
            </a>
          </div>
    </div>
  </div>

<style>
    .footer {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 10px;
      background-color:  #ffffff65;;
      padding: 50px 0px 40px 0px;
    }

  h3{
        font-family: "campton-light";
        font-weight: lighter;
        font-size: 35px;
        margin: 0;
        padding-top: 30px;
    }

    p{
        font-family: "rubik-regular";
        font-size: 16px;
        color: white;
    }

    .p1{
        padding-top: 20px;
    }

  .logo_footer{
    width: 40%;
  }

  
  .kontakt{
    padding-left: 15%;
    padding-top: 40px;
    padding-bottom: 30px;
  }

  .støt{
    padding-left: 37%;
    padding-top: 20px;
    padding-bottom: 30px;
  }

  .sociale_medier{
    padding-left: 23%;
    padding-top: 20px;
    padding-bottom: 30px;
  }

  .footer_icons{
    float: right;
    padding-top: 15px;
  }

  .insta{
    width: 12.5%;
    padding-left: 35px;

  }

  .twitter{
    width: 12.5%;
    padding-left: 14px;
    padding-bottom: 5px ;
  }

  .facebook{
    width: 10.5%;
    padding-left: 10px;
    padding-bottom: 5px ;
  }

  .støt_knap{
    padding: 10px 10px 10px 10px;
    background-color: #FF1054;
    margin-top: 10px;
    width: 35%;
    font-family: "campton-bold";
    color: white;
    font-size: 12px;
    display: inline-block;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    border-radius: 20px;
  }


  .støt_knap:hover{
    background-color: white;
    color: #FF1054;

  }

 .buttons_footer{
    padding-top: 15px;
 }

 .button2{
    padding-top: 5px;
 }

 a{
    text-decoration: none;
 }


 @media (max-width: 820px) {
    .footer {
      display: grid;
      grid-template-columns: 1fr;
    }

 .kontakt{
    padding-left: 30px;
 }

 .støt{
    padding-left: 30px;
 }

 .sociale_medier{
    padding-left: 30px;
 }

.insta{
    padding-left: 0px;
}

h3{
    padding-top: 0px;
    font-size: 20px;
}
}

@media (max-width: 1024px) {
  .støt_knap{
    width: 48%;
  }

  .bliv_medlem{
    width: 48%;
  }

  .logo_footer{
    width: 50%;
  }

  .footer_icons{
    padding-left: 12px;
  }
}

</style>