<header>
  <div>
    <a href="https://plasticchange.dk/">
      <img class="logo" src="./images/logo.webp" alt="logo" />
    </a>
  </div>
  <nav>
    <ul>
      <li><a class="button1" href="/landingpage">Kampagne</a></li>
      <li><a class="button2" href="/page3">Støt</a></li>
      <li><a class="button3" href="/page2">Hvad kan du gøre?</a></li>
    </ul>
  </nav>
</header>

<style>
 
  .button1 {
    padding: 10px 20px 10px 20px;
    width: 100%;
    font-family: "campton-bold";
    color: #ff1054;
    font-size: 12px;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    border-radius: 50px;
    background-color: #ffffff;
    margin-left: 13%;
  }

  .button1:hover {
    background-color: #ff1054;
    color: #ffffff;
  }

  .button3 {
    color: #ffffff;
    font-family: "campton-bold";
    font-size: 12px;
  }

  .button2 {
    padding: 10px 30px 10px 30px;
    background-color: #ff1054;
    width: 100%;
    font-family: "campton-bold";
    font-size: 12px;
    border-radius: 50px;
    text-decoration: none;
    color: #ffffff;
    margin-left: 10px;
  }

  .button2:hover {
    background-color: #ffffff;
    color: #ff1054;
  }
  header {
    background-color: #ffffff6d;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px 10px 10px;
  }

  .logo {
    width: 40%;
  }

  nav ul {
    list-style: none;
    display: flex;
  }

  nav ul li {
    margin-right: 20px;
  }
</style>
