<header>
    <div>
        <img class="logo" src="./images/logo.webp" alt="logo">
    </div>
    <nav>
        <ul>
            <li><a href="#">Button 1</a></li>
            <li><a href="#">Button 2</a></li>
            <li><a href="#">Button 3</a></li>
            <li><a href="#">Button 4</a></li>
        </ul>
    </nav>
</header>


<style>
    header {
    background-color: #ffffff65; 
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px 10px 10px;
}

.logo {
    width: 40%;
    align-items: center;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-right: 15px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
}
</style>