
<div class="hero2">
    <h1>Hvad kan du gøre?</h1>
</div>

<style>
    .hero2{
        background-image: url(./images/plastik_skrald.jpg);
        background-size: cover; 
        background-repeat: no-repeat; 
        height: 100vh;
        margin: 0;
    }

    h1{
        font-size: 120px;
        color: #FFFFFF;
        font-family: "campton-bold";
        margin: 0;
        position: absolute;
        top: 50%; 
        left: 12%; 
    }

    @media (max-width: 820px) {
   
        h1{
            font-size: 40px;
            left: 4%;
        }
    }

    @media (max-width: 1024px) {
        h1{
            font-size: 100px;
            left: 6%;
        }
    }

</style>