---

import Burgermenu from "./Burgermenu.astro";
---

<div class="hero2">
  <Burgermenu />
  <div class="center">
  <h1>Hvad kan du gøre?</h1>
</div>
</div>

<style>
  /* .hero1 {
    background-image: url(/assets/images/plastic2.webp);
    background-size: cover;
    background-repeat: no-repeat;
    height: auto;
    margin: 0;
  } */
  .hero2 {
    background-image: url(/assets/images/plastik_skrald.webp);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    margin: 0;
  }

  h1 {
    font-size: 120px;
    color: #ffffff;
    font-family: "campton-bold";
    margin: 0;
    position: absolute;
    top: 50%;
    
   
  }

  .center {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  @media (max-width: 1024px) {
    h1 {
      font-size: 100px;
      left: 6%;
    }
  }
  @media (max-width: 820px) {
    h1 {
      font-size: 40px;
      text-align: center;
      top: 35%;
    }

    .hero2 {
      height: 70vh;
    }
  }
</style>
