
<div>
    <h2>Følg med i kampen mod plastik på vores Instagram</h2>
</div>

<div class="grid_instagram">

<div class="instagram-post">
        <div class="post-header">
          <img class="user-avatar" src="./images/logo_plastic_change.svg" alt="plastic_change_logo">
          <div class="username">Plastic Change</div>
        </div>
        <img class="post-image" src="./images/post1.png" alt="Post Image">
        <div class="post-caption">
            <img class="icon1" src="./images/heart.png" alt="">
            <img class="icon2"src="./images/speech-bubble.png" alt="">
            <img class="icon3" src="./images/send.png" alt="">
          <p class="likes">49 Synes godt om</p>
          <p class="dato">11. September</p>
        </div>
</div>

<div class="instagram-post">
    <div class="post-header">
      <img class="user-avatar" src="./images/logo_plastic_change.svg" alt="plastic_change_logo">
      <div class="username">Plastic Change</div>
    </div>
    <img class="post-image" src="./images/post2.png" alt="Post Image">
    <div class="post-caption">
        <img class="icon1" src="./images/heart.png" alt="">
        <img class="icon2"src="./images/speech-bubble.png" alt="">
        <img class="icon3" src="./images/send.png" alt="">
      <p class="likes">82 Synes godt om</p>
      <p class="dato">1. Oktober</p>
    </div>
  </div>

  <div class="instagram-post">
    <div class="post-header">
      <img class="user-avatar" src="./images/logo_plastic_change.svg" alt="plastic_change_logo">
      <div class="username">Plastic Change</div>
    </div>
    <img class="post-image" src="./images/post3.png" alt="Post Image">
    <div class="post-caption">
        <img class="icon1" src="./images/heart.png" alt="">
        <img class="icon2"src="./images/speech-bubble.png" alt="">
        <img class="icon3" src="./images/send.png" alt="">
      <p class="likes">153 Synes godt om</p>
      <p class="dato">24. Oktober</p>
    </div>
  </div>

  <div class="instagram-post">
    <div class="post-header">
      <img class="user-avatar" src="./images/logo_plastic_change.svg" alt="plastic_change_logo">
      <div class="username">Plastic Change</div>
    </div>
    <img class="post-image" src="./images/post4.png" alt="Post Image">
    <div class="post-caption">
        <img class="icon1" src="./images/heart.png" alt="">
        <img class="icon2"src="./images/speech-bubble.png" alt="">
        <img class="icon3" src="./images/send.png" alt="">
      <p class="likes">137 Synes godt om</p>
      <p class="dato">20. November</p>
    </div>
  </div>

</div>

<div class="klik_instagram">
    <h4>Se vores Instagram her</h4>
    <div class="button_insta">
    <a href="https://www.instagram.com/plasticchange/" class="button-link">Klik her</a>
    </div>
</div>



<style>
    .grid_instagram{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        padding: 10px 50px 10px 75px;
        gap: 5px;
    }

    .icon1{
        width: 20px;
    }
    .icon2{
        width: 20px;
    }
    .icon3{
        width: 20px;
    }

    h2{
        font-family: "campton-bold";
        font-size: 64px;
        color: white;
        text-align: center;
        padding: 28px 0px 10px 28px;
    }

    h4{
        font-family: "campton-bold";
        font-size: 30px;
        color: #FFFFFF;
        text-align: center;
        margin: 0;
        padding: 10px 10px 10px 10px;
    }

    .klik_instagram{
        padding: 18px 10px 18px 10px;
    }

    /* body {
      font-family: 'Arial', sans-serif;
      background-color: #fafafa;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      margin: 0;
    } */

    .instagram-post {
      width: 280px;
      border: 1px solid #ccc;
      background-color: #fff;
      margin-bottom: 5rem;
    }

    .post-header {
      padding: 10px;
      display: flex;
      align-items: center;
      border-bottom: 1px solid #ccc;
    }

    .user-avatar {
      width: 30px;
      height: 30px;
      border-radius: 50%;
      margin-right: 10px;
    }

    .username {
      font-family: "campton-bold";
      font-size: 13px;
      color: black;
    }

    .post-image {
      width: 100%;
      max-height: 260px;
      object-fit: cover;
    }

    .post-caption {
      padding: 10px;
    }

    .likes {
      font-family: "campton-bold";
      font-size: 12px;
    }

    .dato{
        font-family: "rubik-regular";
        font-weight: lighter;
        font-size: 10px;
    }

    .button-link{
    padding: 10px 10px 10px 10px;
    background-color: #FF1054;
    margin-top: 10px;
    width: 8%;
    font-family: "campton-bold";
    color: white;
    font-size: 12px;
    display: inline-block;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    border-radius: 20px;
  }

  .button_insta{
    display: flex;
    justify-content: center;

  }

    /* Hover-effekt */
    .button-link:hover {
      background-color: #ffffff;
      color: #3498db;
      border-color: #3498db;
    }
</style>