<div class="kasse3">
  <div>
    <h4>Skåne Jordens ressourcer</h4>
    <p>
      I Danmark bruger vi hvert år omkring 130 millioner engangskopper alene til
      kaffen.
    </p>

    <p>
      På Europæisk plan kan vi spare 10 milliarder kubikmeter vand årligt ved at
      sætte mål for genbrug på 50% af vores emballager.
    </p>
    <p>
      Det svarer til et vandforbrug på 4 mio. olympiske swimmingpools om året –
      altså 1,1 swimmingpool per dansker ml. 18-64 år.
    </p>
  </div>
  <dotlottie-player
    src="https://lottie.host/4adccd11-f1d0-4b2b-9aac-4a440314e6dc/6Hw3R9QssT.json"
    background="transparent"
    speed="1"
    style="width: 300px; height: 300px;"
    loop
    autoplay></dotlottie-player>
</div>

<style>
  .kasse3 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 50em;
    border: 0.5px;
    border-radius: 20px;
    background-color: #ffffff51;
  }

  h4 {
    font-family: "campton-bold";
    font-size: 30px;
    color: #56d8bc;
    margin: 10px;
    padding-left: 20px;
  }

  p {
    font-family: "rubik-regular";
    font-weight: lighter;
    font-size: 16px;
    color: #f4f4f4;
    margin: 10px;
    padding-left: 20px;
  }
</style>

<script
  src="https://unpkg.com/@dotlottie/player-component@latest/dist/dotlottie-player.mjs"
  type="module"></script>
