<div class="kasse2">
  <div>
    <h4>2. Skader på dyrelivet:</h4>
    <p>
      Dyr lider under plastikforurening. Dyr på både land og i vand kan indtage
      plastikaffald. Dette kan føre til alvorlige sundhedsmæssige problmer,
      herunder indre skader og forgiftning.
    </p>
  </div>
</div>

<style>
  .kasse2 {
    width: 40em;
    border: 0.5px;
    border-radius: 20px;
    padding: 20px;
    background-color: #00000069;
    position: relative;
    left: 720px;
    top: 2px;
  }

  h4 {
    font-family: "campton-bold";
    font-size: 30px;
    color: #56d8bc;
    margin: 0;
  }

  p {
    font-family: "rubik-regular";
    font-weight: lighter;
    font-size: 16px;
    color: #f4f4f4;
    padding-top: 10px;
  }
</style>
