<div class="kasse4">
  <div>
    <h4>4. Global spredning:</h4>
    <p>
      Det er også et globalt problem. Plastikfragmenter og mikroplastik kan
      spredes over store afstande igennem luft og havstrømme. Det kan dermed
      gøre det svært at isolere og løse problemt på nationalt plan.
    </p>
  </div>
</div>

<style>
  .kasse4 {
    width: 34em;
    border: 0.5px;
    border-radius: 20px;
    padding: 70px;
    background-color: #00000069;
    position: relative;
    left: 720px;
    top: 2px;
  }

  h4 {
    font-family: "campton-bold";
    font-size: 30px;
    color: #56d8bc;
    margin: 0;
  }

  p {
    font-family: "rubik-regular";
    font-weight: lighter;
    font-size: 16px;
    color: #f4f4f4;
    padding-top: 10px;
  }

  @media (max-width: 820px) {
    h4 {
      font-size: 20px;
    }

    p {
      font-size: 20px;
    }
    .kasse4 {
      display: grid;
      grid-template-columns: 1fr;
      position: relative;
      left: 0px;
      width: auto;
 /* width: 200px;
      border: 0.5px;
      border-radius: 20px;
      padding: 20px;
      background-color: #00000069;
      position: relative;
      left: 300px;
      top: 2px; */ */
    }
  }
</style>

<script>
  import { gsap } from "gsap/dist/gsap";
  import { ScrollTrigger } from "gsap/dist/ScrollTrigger";

  gsap.registerPlugin(ScrollTrigger);

  gsap.from(".kasse4", {
    x: 500,
    duration: 2,
    scrollTrigger: ".kasse4",
    start: "start 90%",
  });
</script>
