<div class="nyhedsbrev">
  <h2>Tilmeld dig vores nyhedsbrev</h2>
  <h3>Følg med i arbejdet om plastik forurening</h3>
  <div class="brev">
    <input class="email" type="text" placeholder="Skriv din email" />
    <input class="knap1" type="submit" value="Tilmeld" />
  </div>
</div>

<style>
  .nyhedsbrev {
    padding: 30px 0px 40px 0px;
  }
  .brev {
    text-align: center;
  }
  .email {
    background-color: #dedede;
    margin-top: 10px;
    width: 30%;
    font-family: "rubik-regular";
    font-weight: lighter;
    color: #00283b;
    font-size: 20px;
    padding: 10px 18px 10px 18px;
    text-align: left;
    border: none;
    border-radius: 50px;
    cursor: pointer;
  }

  .knap1 {
    padding: 10px 18px 10px 18px;
    background-color: #ff1054;
    margin-top: 10px;
    width: 10%;
    font-family: "campton-bold";
    color: white;
    font-size: 20px;
    border-radius: 50px;
    border: none;
    border-color: #ff1054;
  }
  h2 {
    font-family: "campton-bold";
    font-size: 64px;
    color: #ffffff;
    gap: 10px;
    padding: 10px 0px 10px 0px;
    text-align: center;
    margin: 0;
  }

  h3 {
    font-family: "campton-light";
    font-size: 35px;
    color: #ffffff;
    gap: 10px;
    padding: 12px 0px 12px 0px;
    font-weight: lighter;
    text-align: center;
    margin: 0;
  }

  /* .container {
      border: 2px;
      padding: 20px; 
      text-align: end;
      width: 50%;
      background-color: #FFFFFF;
      margin-left: 80px;
    }
    .inner-button {
      padding: 10px 20px; 
      font-size: 16px; 
      cursor: pointer;
      background-color: #FF1054; 
      color: #ffffff;
      border: none;
      border-radius: 5px; 
    } */

  /* .email{
    background-color: #FFFFFF;
    margin-top: 10px;
    width: 30%;
    font-family: "rubik-regular";
    font-weight: lighter;
    color: #00283B;
    font-size: 20px;
    padding: 10px 18px 10px 18px;
    text-align: left;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    } */

  @media (max-width: 820px) {
    .nyhedsbrev {
      gap: 16px;
      padding: 21px 13px 21px 13px;
    }
    h2 {
      font-size: 35px;
    }

    h3 {
      font-size: 20px;
    }

    .brev {
      display: grid;
      grid-template-columns: 1fr;
      justify-items: center;
    }

    .email {
      background-color: #dedede;
      margin-top: 10px;
      width: 40%;
      font-family: "rubik-regular";
      font-weight: lighter;
      color: #00283b;
      font-size: 20px;
      padding: 10px 18px 10px 18px;
      text-align: left;
      border: none;
      border-radius: 50px;
      cursor: pointer;
    }

    .knap1 {
      padding: 10px 18px 10px 18px;
      background-color: #ff1054;
      margin-top: 10px;
      width: 30%;
      font-family: "campton-bold";
      color: white;
      font-size: 10px;
      border-radius: 50px;
      border: none;
      border-color: #ff1054;
    }
  }
</style>
