---
import Talebobbel from "./Talebobbel.astro";
import StotFormular from "./Stot_formular.astro";
---


<div class="hero">
    <Talebobbel/>
    <StotFormular/>
</div>

<style>
    .hero{
        display: grid;
        grid-template-columns: 1fr 1fr;
        background-image: url(./images/plastic2.webp);
        background-size: cover; 
      background-repeat: no-repeat; 
      height: 100vh;
      margin: 0;

    }
</style>