<div class="container_section4">
    <h2>Hvad gør vi?</h2>
</div>

<div class="grid">
    <div>
    <h3>Forskning og rapporter</h3>
    <p>Plastic Change udfører og støtter forskning for at forstå omfanget af plastikforurening og dets konsekvenser for miljøet og sundheden. Organisationen udgiver også rapporter og undersøgelser for at oplyse beslutningstagere og offentligheden. </p>
    </div>

    <div>
    <h3>Oplysningskampagner</h3>
    <p>Plastic Change udfører og støtter forskning for at forstå omfanget af plastikforurening og dets konsekvenser for miljøet og sundheden. Organisationen udgiver også rapporter og undersøgelser for at oplyse beslutningstagere og offentligheden. </p>
    </div>

    <div>
    <h3>Politisk advocacy</h3>
    <p>Plastic Change udfører og støtter forskning for at forstå omfanget af plastikforurening og dets konsekvenser for miljøet og sundheden. Organisationen udgiver også rapporter og undersøgelser for at oplyse beslutningstagere og offentligheden. </p>
    </div>

    <div>
    <h3>Internationale samarbejder</h3>
    <p>Plastic Change udfører og støtter forskning for at forstå omfanget af plastikforurening og dets konsekvenser for miljøet og sundheden. Organisationen udgiver også rapporter og undersøgelser for at oplyse beslutningstagere og offentligheden. </p>
    </div>

    <div>
    <h3>Plastic Action Network</h3>
    <p>Plastic Change udfører og støtter forskning for at forstå omfanget af plastikforurening og dets konsekvenser for miljøet og sundheden. Organisationen udgiver også rapporter og undersøgelser for at oplyse beslutningstagere og offentligheden. </p>
    </div>

    <div>
    <h3>Initiativer for forbrugeransvar</h3>
    <p>Plastic Change udfører og støtter forskning for at forstå omfanget af plastikforurening og dets konsekvenser for miljøet og sundheden. Organisationen udgiver også rapporter og undersøgelser for at oplyse beslutningstagere og offentligheden. </p>
    </div>
</div>

<div class="section2">
    <h4>Hvad kan du gøre?</h4>
    <div class="button1">
        <a href="#" class="støt_knap">Støt nu</a>
    </div>  
    <div class="button2">
    <a href="#" class="læs_knap">Læs mere her</a>
    </div>
</div>

<style>
    .container_section4{
        background-image: url(./images/plastic4.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        height: 70vh;
    }

    .grid{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 50px;
        padding: 20px 150px 10px 150px;
    }

    h2{
          color: white; 
          font-size: 64px; 
          z-index: 1; /* Sørg for, at teksten er over billedet */
          font-family: "campton-bold";
          text-align: center;
          padding-top: 15rem;
          margin-top: 0px;
    }

    h3{
        font-family: "campton-bold";
        font-size: 35px;
        color: #56D8BC;
        margin-bottom: 0px;
    }

    h4{
        font-family: "campton-bold";
        font-size: 30px;
        color: #FFFFFF;
        text-align: center;
        margin: 0;
    }

    p{
        font-family: "rubik-regular";
        font-weight: lighter;
        font-size: 16px;
        color: #F4F4F4;
        padding-top: 10px;
    }

    .section2{
        padding: 30px 150px 20px 150px;
    }

    .støt_knap{
    padding: 10px 10px 10px 10px;
    background-color: #FF1054;
    margin-top: 10px;
    width: 10%;
    font-family: "campton-bold";
    color: white;
    font-size: 12px;
    display: inline-block;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    border-radius: 20px;
  }

  .læs_knap{
    padding: 10px 10px 10px 10px;
    background-color: #FEFEFE;
    margin-top: 10px;
    width: 10%;
    font-family: "campton-bold";
    color: #FF1054;
    font-size: 12px;
    display: inline-block;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    border-radius: 20px;
  }

  .button1{
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .button2{
    display: flex;
    align-items: center;
    justify-content: center;
  }

  @media (max-width: 820px) {
    
    .container_section4{
        height: 50vh;
    }

    h2{
        padding-top: 10rem;
    }

    .grid {
      display: grid;
      grid-template-columns: 1fr;
      gap: 10px;
      padding: 14px 16px 14px 16px;
    }

    .section2{
        padding: 10px 20px 20px 20px;
        gap: 50px;
    }

    .støt_knap{
        width: 40%;
    }

    .læs_knap{
        width: 40%;
    }
  }
</style>
