---
import Kasse1 from "./Kasse1.astro";
import Kasse2 from "./Kasse2.astro";
import Kasse3 from "./Kasse3.astro";
import Kasse4 from "./Kasse4.astro";
import Button_section2 from "./Button_section2.astro";
---

<div class="grid1">
  <h2>Derfor ødelægger plastik vores planet</h2>
  <Kasse1 />
  <Kasse2 />
  <Kasse3 />
  <Kasse4 />

  <Button_section2 />
</div>

<style>
  .grid1 {
    display: grid;
    grid-template-columns: 1fr;
    gap: 50px;
    padding: 20px;
  }

  h2 {
    color: white;
    font-size: 64px;
    z-index: 1; /* Sørg for, at teksten er over billedet */
    font-family: "campton-bold";
    text-align: center;
    padding-top: 5rem;
    margin-top: 0px;
  }

  @media (max-width: 820px) {
    .grid1 {
      display: grid;
      grid-template-columns: 1fr;
      overflow: hidden;
      gap: 20px;
    }

    h2{
    font-size: 35px;
    padding: 0px 100px 0px 0px;
    margin: 0px;
    padding: 20px;
  }
  }


  /* h2 {
      font-size: 35px;
      margin-right: 50px;
      gap: 10px;
      padding: 10px 10px 10px 10px;
    }

    .grid1 {
      padding: 0px;
    }
    
  } */
</style>
