---
import Talebobbel from "./Talebobbel.astro";
import StotFormular from "./Stot_formular.astro";
---


<div class="hero1">
    <Talebobbel/>
    <StotFormular/>
</div>

<style>
    .hero1{
        display: grid;
        grid-template-columns: 1fr 1fr;
        background-image: url(./images/plastic2.webp);
        background-size: cover; 
        background-repeat: no-repeat; 
        height: auto;
        margin: 0;
    }

    @media (max-width: 820px) {
        .hero1{
            display: grid;
            grid-template-columns: 1fr;
        }
        }
</style>