---
import Flipcard from "./Flipcard.astro";
import Flipcard2 from "./Flipcard2.astro";
import Flipcard3 from "./Flipcard3.astro";
import Flipcard4 from "./Flipcard4.astro";
import Flipcard5 from "./Flipcard5.astro";
import Flipcard6 from "./Flipcard6.astro";
---

<section>
<div class="container_section3">
    <h2>6 facts omkring plastik</h2>
</div>

<div class="grid">

    <div><Flipcard /></div>
    <div> <Flipcard2 /></div>
    <div><Flipcard3 /></div>
    <div> <Flipcard4 /></div>
    <div><Flipcard5 /></div>
    <div> <Flipcard6 /></div>


</div>

</section>



<style>

.grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr ;
        grid-template-rows: 1fr 1fr;
        overflow: hidden;
        
        
       
        
    }


    @media (max-width: 600px) {
h2{
      font-size: 64px; 
}
.grid {
    display: grid;
    grid-template-columns: 1fr;

}
}


@media (max-width: 1200px) {
h2{
      font-size: 64px; 
}
.grid {
    display: grid;
    grid-template-columns: 1fr;
}
}
  

.container_section3{
        background-image: url(./images/skrald_strand.webp);
        background-size: cover;
        background-repeat: no-repeat;
        height: 70vh;
    }

    h2{
          color: white; 
          font-size: 64px; 
          z-index: 1; /* Sørg for, at teksten er over billedet */
          font-family: "campton-bold";
          text-align: center;
          padding-top: 15rem;
          margin-top: 0px;
    }


 

</style>