<div class="container_section4">
  <h2>Hvad gør vi?</h2>
</div>

<div class="grid">
  <div class="første">
    <h3>Forskning og rapporter</h3>
    <p>
      Plastic Change udfører og støtter forskning for at forstå omfanget af
      plastikforurening og dets konsekvenser for miljøet og sundheden.
      Organisationen udgiver også rapporter og undersøgelser for at oplyse
      beslutningstagere og offentligheden.
    </p>
  </div>

  <div class="anden">
    <h3>Oplysningskampagner</h3>
    <p>
      Plastic Change udfører og støtter forskning for at forstå omfanget af
      plastikforurening og dets konsekvenser for miljøet og sundheden.
      Organisationen udgiver også rapporter og undersøgelser for at oplyse
      beslutningstagere og offentligheden.
    </p>
  </div>

  <div class="tredje">
    <h3>Politisk advocacy</h3>
    <p>
      Plastic Change udfører og støtter forskning for at forstå omfanget af
      plastikforurening og dets konsekvenser for miljøet og sundheden.
      Organisationen udgiver også rapporter og undersøgelser for at oplyse
      beslutningstagere og offentligheden.
    </p>
  </div>

  <div class="fjerde">
    <h3>Internationale samarbejder</h3>
    <p>
      Plastic Change udfører og støtter forskning for at forstå omfanget af
      plastikforurening og dets konsekvenser for miljøet og sundheden.
      Organisationen udgiver også rapporter og undersøgelser for at oplyse
      beslutningstagere og offentligheden.
    </p>
  </div>

  <div class="femte">
    <h3>Plastic Action Network</h3>
    <p>
      Plastic Change udfører og støtter forskning for at forstå omfanget af
      plastikforurening og dets konsekvenser for miljøet og sundheden.
      Organisationen udgiver også rapporter og undersøgelser for at oplyse
      beslutningstagere og offentligheden.
    </p>
  </div>

  <div class="sjete">
    <h3>Initiativer for forbrugeransvar</h3>
    <p>
      Plastic Change udfører og støtter forskning for at forstå omfanget af
      plastikforurening og dets konsekvenser for miljøet og sundheden.
      Organisationen udgiver også rapporter og undersøgelser for at oplyse
      beslutningstagere og offentligheden.
    </p>
  </div>
</div>

<div class="section2">
    <h4>Hvad kan du gøre?</h4>
    <div class="button1">
        <a href="/page3" class="støt_knap">Støt nu</a>
    </div>  
  <div class="button2">
    <a href="#" class="læs_knap">Læs mere her</a>
  </div>
</div>

<style>
  .container_section4 {
    background-image: url(./images/plastic4.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 70vh;
  }

  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
    padding: 20px 150px 10px 150px;
  }

  h2 {
    color: white;
    font-size: 64px;
    z-index: 1; /* Sørg for, at teksten er over billedet */
    font-family: "campton-bold";
    text-align: center;
    padding-top: 15rem;
    margin-top: 0px;
  }

  h3 {
    font-family: "campton-bold";
    font-size: 35px;
    color: #56d8bc;
    margin-bottom: 0px;
  }

  h4 {
    font-family: "campton-bold";
    font-size: 30px;
    color: #ffffff;
    text-align: center;
    margin: 0;
    padding-bottom: 20px;
  }

  p {
    font-family: "rubik-regular";
    font-weight: lighter;
    font-size: 16px;
    color: #f4f4f4;
    padding-top: 10px;
  }

  .section2 {
    padding: 30px 150px 20px 150px;
    
  }

  .støt_knap {
    padding: 10px 10px 10px 10px;
    background-color: #ff1054;
    margin-top: 10px;
    width: 155px;
    height: 30px;
    font-family: "campton-bold";
    color: white;
    font-size: 15px;
    display: flex;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 50px;
    box-shadow: -1px 7px 15px -2px rgba(0,0,0,0.55);
-webkit-box-shadow: -1px 7px 15px -2px rgba(0,0,0,0.55);
-moz-box-shadow: -1px 7px 15px -2px rgba(0,0,0,0.55);
  }

  .læs_knap {
    padding: 10px 10px 10px 10px;
    background-color: #fefefe;
    margin-top: 10px;
    width: 155px;
    height: 30px;
    font-family: "campton-bold";
    color: #ff1054;
    font-size: 15px;
    display: flex;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 50px;
    box-shadow: -1px 7px 15px -2px rgba(0,0,0,0.55);
-webkit-box-shadow: -1px 7px 15px -2px rgba(0,0,0,0.55);
-moz-box-shadow: -1px 7px 15px -2px rgba(0,0,0,0.55);
  }

  .button1 {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .button2 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 20px;
    padding-top: 10px;
  }

  .støt_knap:hover {
    background-color: #ffffff;
    color: #ff1054;
  }

  .læs_knap:hover {
    background-color: #ff1054;
    color: #ffffff;
  }



  @media (max-width: 1024px) {

.grid{
    padding: 20px 130px 10px 130px;
}

.section2{
    padding-top: 70px;
}

.støt_knap{
    width: 15%;
}

.læs_knap{
    width: 15%;
}

h2{
    padding-top: 20rem;
}
.container_section4{
    height: 50vh;
}

}

  @media (max-width: 820px) {
    .container_section4 {
      height: 50vh;
    }

    h2 {
      padding-top: 12rem;
      font-size: 35px;
    }

    h3 {
      font-size: 30px;
    }

    p {
      font-size: 12px;
    }

    .grid {
      display: grid;
      grid-template-columns: 1fr;
      gap: 10px;
      padding: 14px 16px 14px 16px;
    }

    .section2 {
      padding: 10px 20px 20px 20px;
      gap: 50px;
    }

    .støt_knap {
      width: 40%;
      font-size: 12px;
    }

    .læs_knap {
      width: 40%;
      font-size: 12px;
    }
  }

</style>

<script>
  import { gsap } from "gsap/dist/gsap";
  import { ScrollTrigger } from "gsap/dist/ScrollTrigger";

  gsap.registerPlugin(ScrollTrigger);

  gsap.from(".første", {
    x: -500,
    duration: 2,
    scrollTrigger: ".første",
    start: "start 90%",
  });
</script>

<script>
  import { gsap } from "gsap/dist/gsap";
  import { ScrollTrigger } from "gsap/dist/ScrollTrigger";

  gsap.registerPlugin(ScrollTrigger);

  gsap.from(".anden", {
    x: 500,
    duration: 2,
    scrollTrigger: ".anden",
    start: "start 90%",
  });
</script>

<script>
  import { gsap } from "gsap/dist/gsap";
  import { ScrollTrigger } from "gsap/dist/ScrollTrigger";

  gsap.registerPlugin(ScrollTrigger);

  gsap.from(".tredje", {
    x: -500,
    duration: 2,
    scrollTrigger: ".tredje",
    start: "start 90%",
  });
</script>

<script>
  import { gsap } from "gsap/dist/gsap";
  import { ScrollTrigger } from "gsap/dist/ScrollTrigger";

  gsap.registerPlugin(ScrollTrigger);

  gsap.from(".fjerde", {
    x: 500,
    duration: 2,
    scrollTrigger: ".fjerde",
    start: "start 90%",
  });
</script>

<script>
  import { gsap } from "gsap/dist/gsap";
  import { ScrollTrigger } from "gsap/dist/ScrollTrigger";

  gsap.registerPlugin(ScrollTrigger);

  gsap.from(".femte", {
    x: -500,
    duration: 2,
    scrollTrigger: ".femte",
    start: "start 90%",
  });
</script>

<script>
  import { gsap } from "gsap/dist/gsap";
  import { ScrollTrigger } from "gsap/dist/ScrollTrigger";

  gsap.registerPlugin(ScrollTrigger);

  gsap.from(".sjete", {
    x: 500,
    duration: 2,
    scrollTrigger: ".sjete",
    start: "start 90%",
  });
</script>
