---
import Talebobbel from "./Talebobbel.astro";
import StotFormular from "./Stot_formular.astro";
import Burgermenu from "./Burgermenu.astro";
---

<div class="hero1">
  <Burgermenu />
  <div class="tekst">
    <Talebobbel />
    <StotFormular />
  </div>
</div>

<style>
  .tekst {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .hero1 {
    background-image: url(/assets/images/plastic2.webp);
    background-size: cover;
    background-repeat: no-repeat;
    height: auto;
    margin: 0;
  }

  @media (max-width: 820px) {
    .tekst {
      display: grid;
      grid-template-columns: 1fr;
    }
  }
</style>
