<form id="form-container">
  <img src="./images/plastic_bottle.webp" alt="plastic_bottle">
  <h2>Støt med et valgfrit bidrag</h2>
  
  
    <div class="bidrag">
      <div class="flex">
       
       <input type="radio" id="knap0" name="enGang" required>
       <label for="knap0">Månedligt</label>
      </div>
    
      <div class="flex">
        <input type="radio" id="knap0" name="enGang" required>
        <label for="knap0">Én gang</label>
      </div>
    </div>

       <div class="tekst_beløb">
        <p>Vælg beløb</p>
       </div>

    <div class="beløb">

      <input type="radio" id="knap01" name="beløb" value="50" required>
      <label for="knap01">50</label>
      <input type="radio" id="knap01" name="beløb" required>
      <label for="knap01">75</label>
      <input type="radio" id="knap01" name="beløb" required>
      <label for="knap01">125</label>


    </div>

    <div>
     <input class="andet_beløb" type="text" placeholder="Andet beløb">
    </div>

    <div>
     <button class="knap1" type="submit">Støt nu</button>
    </div>
    

 </form>

<style>

  .andet_beløb{
    background-color: #DEDEDE;
    margin-top: 10px;
    width: 80%;
    font-family: "rubik-regular";
    font-weight: lighter;
    color: #00283B;
    font-size: 20px;
    padding: 10px 18px 10px 18px;
    text-align: left;
    border: none;
    border-radius: 50px;
    cursor: pointer;
  }

  .knap1{
    padding: 10px 18px 10px 18px;
    background-color: #FF1054;
    margin-top: 10px;
    width: 80%;
    font-family: "campton-bold";
    color: white;
    font-size: 20px;
    border-radius: 50px;
  }

 
  button {
      border: none;
      cursor: pointer;
    }
  .beløb{
    display: flex;
    justify-content: space-between;
    padding-inline: 50px;
  }
  
  .tekst_beløb{
    font-family: "rubik-regular";
    font-weight: lighter;
    font-size: 10px;
    padding-left: 30px;
  }
  .bidrag{
    display: flex;
    justify-content: space-between;
    padding-inline: 50px;
   
  }

  #form-container {
      background-color: #fff;
      padding: 10px;
      border-radius: 50px;
      text-align: center;
      width: 65%;
      height: 75%;
      margin-top: 35px;
    }

    #form-container img {
      border-top-right-radius: 40px;
      border-top-left-radius: 40px;
      width: 100%;
    }

    #form-container p {
      color: #000000;
      font-size: 20px;
      font-family: "rubik-regular";
      padding-left: 10px;
      padding-right: 10px;
      text-align: left;
    }

  #form-container h2{
      font-family: "campton-bold";
      font-size: 32px;
      padding: 0px;
      text-align: center;
    }

    input {
      width: 10%;
      padding: 10px;
      margin-bottom: 10px;
      box-sizing: border-box;
    }

    #knap0{
      border-radius: 50%;
      width: 50px;
      height: 50px;
      background-color: #fff;
      border: solid black;
      accent-color: #FF1054;

      
    }

  
    .flex {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }


    #knap01{
      border-radius: 50%;
      width: 70px;
      height: 70px;
      background-color: #fff;
      border: solid black;
      accent-color: #FF1054;
      
    }

  
    


</style>


<!-- <script>
  document.addEventListener('DOMContentLoaded', function () {
    const colorButton = document.getElementById('colorButton');

    colorButton.addEventListener('click', function () {
        // Toggle between white and red background color
        colorButton.style.backgroundColor = colorButton.style.backgroundColor === 'white' ? 'red' : 'white';
    });
});

</script> -->


