

<div class="container">
<img src="./images/boks_landingpage.png" alt="boks_til_landingpage">
<div class="text1">STOP</div>
<div class="text2">PLASTIK</div>
<div class="text3">FORURENING</div>
<div class="text4">NU!</div>
</div>


<style>
    .container{
        margin-left: 10rem;
        /* position: relative;
        text-align: center; */
    }

    /* .container img{
        width: 100%;
        height: auto;
    } */

    .text1{
    position: absolute;
      top: 18%; 
      left: 19.5%;
      color: white; 
      font-size: 128px; 
      z-index: 1; /* Sørg for, at teksten er over billedet */
      font-family: "campton-bold";
    }

    .text2{
    position: absolute;
      top: 32%; 
      left: 19.7%;
      color: white; 
      font-size: 78px; 
      z-index: 1; /* Sørg for, at teksten er over billedet */
      font-family: "campton-bold";
    }

    .text3{
    position: absolute;
      top: 42%; 
      left: 19.7%; 
      color: white; 
      font-size: 50px; 
      z-index: 1; /* Sørg for, at teksten er over billedet */
      font-family: "campton-bold";
    }

    .text4{
    position: absolute;
      top: 47%; 
      left: 19%; 
      color: #FF1054; 
      font-size: 200px; 
      z-index: 1; /* Sørg for, at teksten er over billedet */
      font-family: "campton-bold";
    }
</style>